  ul {
      padding: 0;
      list-style: none;
      margin: 0;
  }

  .flex-nav {
    display: flex;
    background: transparent;
    border-bottom: 0;
    padding: 0 15px 4px;
    border-bottom: 1px solid #e2e2e2;
  }

  .nyt-title {
      margin-left: auto;
      margin-right: auto;
  }

  li {
      margin-left: 20px;
      font-size: 14px;
  }

  .title-img {
      margin: 0;
      width: 200px;
      height: 26px;
  }

  button {
    color: white;
    background-color: #6288a5;
    border: 1px solid #326891;
    border-radius: 3px;
    font-weight: 700;
    padding: 8px 12px 8px;
    font-size: 11px;
    margin-left: -20px;
    margin-right: 10px;
    cursor: pointer;
  }

  strong {
      display: block;
      line-height: 19px;
      padding-top: 4px; 
  }

  i {
      padding-top: 5px;
  }

  .top-ad {
    display: block;
    border-bottom: 1px solid #f3f3f3;
    background-color: #f7f7f7;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 90px;
    margin: 0;
    height: 281px;
  }

  .title {
      display: inline-block;
      width: 630px;
      padding: 0;
      margin-top: 50px;
      margin-left: 27%;
      font-size: 2.25rem;
      line-height: 2.5rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: 700;
      font-style: italic;
  }

  .heading {
    display: inline-block;
    width: 630px;
    margin-left: 28%;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 20px;
  }

  .article-title {
      width: 1200px;
      height: 675px;
  }

  .image-discription {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    color: #666;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  .article {
      padding-left: 8%;
      padding-right: 8%;
  }

  .article-content {
      margin-left: 20%;
      margin-right: 20%;
  }

  .author {
    font-size: 0.9375rem;
    line-height: 1.3125rem;
    font-weight: 700;
    color: #121212;
    font-family: helvetica,arial,sans-serif;
  }

  .date {
    font-family: helvetica,arial,sans-serif;
    font-weight: 500;
    color: #666;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .social-date {
    display: flex;
    justify-content: space-between;
  }

  .social-icons {
    display: flex;
    margin-right: 16px;
    padding: 10px 0; 
  }

  .facebook {
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding-top: 7px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .twitter {
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 8px;
  }

  .mail {
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .share {
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: -20%;
    margin-right: 14px;
    margin-left: 4px;
  }

  .save-page {
      background-color: #fff;
      border: #fff;
      margin-top: -35%;
  }

  .comments {
      background-color: #fff;
      color: #333;
      margin-top: -10%;
  }

  .main {
    font-size: 1.1875rem;
    line-height: 1.75rem;
  }

  .first {
     position: relative;
  }

  .first-text {
    font-family: helvetica,arial,sans-serif;
    position: absolute;
    top: 120px;
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
    width: 173px;
  }

  .boldy {
      font-weight: 700;
  }

  .second-text {
    font-family: helvetica,arial,sans-serif;
    position: absolute;
    top: 120px;
    left: 180px;
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
    width: 173px; 
  }

  .third-text {
    font-family: helvetica,arial,sans-serif;
    position: absolute;
    top: 120px;
    left: 360px;
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
    width: 173px; 
  }

  .fourth-text {
    font-family: helvetica,arial,sans-serif;
    position: absolute;
    top: 120px;
    left: 550px;
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
    width: 173px; 
  }

  .fifth-text {
    font-family: helvetica,arial,sans-serif;
    position: absolute;
    top: 420px;
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
    width: 173px; 
  }

  .sixth-text {
    font-family: helvetica,arial,sans-serif;
    position: absolute;
    top: 420px;
    left: 180px;
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
    width: 173px; 
  }

  .seventh-text {
    font-family: helvetica,arial,sans-serif;
    position: absolute;
    top: 420px;
    left: 360px;
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
    width: 173px; 
  }

  .eigth-text {
    font-family: helvetica,arial,sans-serif;
    position: absolute;
    top: 420px;
    left: 550px;
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
    width: 173px; 
  }

  .footer {
    font-family: helvetica,arial,sans-serif;
    font-size: 14px;
  }

  .b-heading {
    font-size: 20px;
  }

  .discription {
    color: #666;
    font-size: 11px;
    line-height: 1.125rem;
  }

  .comment-button {
    width: 330px;
    height: 36px;
    margin-left: 5px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
  }

  .extra-section {
    width: 851px;
  }

  .extra-title {
    font-family: helvetica,arial,sans-serif;
  }

  .more-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .more-images {
    width: 272px;
    height: 181px;
  }

  .more-discription {
    margin-top: 5px;
    width: 272px;
  }

  .more-heading {
    width: 272px;
    font-weight: 500;
  }

  .flex-section {
    display: flex;
    justify-content: space-between;
  }

  .sidebar {
    border-bottom: 1px solid #e2e2e2;
    padding: 15px 0;
  }

  .footer-content {
    display: flex;
    border-top: double #e2e2e2;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }

  .nyt-footer {
    margin-top: 5px;
    width: 184px;
    height: 24px;
  }

  .bottom-ad {
    margin-bottom: 40px;
    margin-left: 15%;
  }

  h5 {
    font-family: helvetica,arial,sans-serif;
  }

  .footer-top {
    display: flex;
    flex-flow: row nowrap;
  }

  .goto {
    color: rgb(98, 136, 165);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    text-decoration: none;
  }

  .goto-container {
    margin: 18px 0px 0px auto;
  }

  .footer-first-row {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
  }

  .footer-first-row a {
    color: rgb(0, 0, 0);
    display: inline-block;  
    text-decoration: none;
    font-family: helvetica,arial,sans-serif;
    text-transform: capitalize;
    width: 150px;
    font-size: 14px;
    font-weight: 500;
    height: 23px;
    line-height: 16px;
  }

  .footer-first-row a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .flex-column {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-bottom: 10px;
  }

  .last {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: helvetica,arial,sans-serif;
    text-transform: capitalize;
    width: 150px;
    font-size: 16px;
    height: 23px;
    font-weight: 700;
    line-height: 16px;
  }

  .last:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .subscribe-div {
    border-left: 1px solid rgb(226, 226, 226);
    padding-left: 15px;
  }

  .subscribe-div a {
    color: rgb(0, 0, 0);
    display: inline-block;
    text-decoration: none;
    width: 150px;
    font-size: 11px;
    font-weight: 500;
    height: 23px;
    line-height: 21px;
  }

  .education {
    border-bottom: 1px solid rgb(226, 226, 226);
    padding-bottom: 10px;
  }

  .mobile {
    padding-top: 10px;
  }

  .footer-last-content {
    border-top: 1px solid rgb(226, 226, 226);
    padding-top: 10px;
    color: rgb(226, 226, 226);
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-last-content a {
    color: rgb(153, 153, 153);
    font-family: helvetica, arial, sans-serif;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 11px;
    margin-left: 10px;
  }

  .footer-last-content a:hover {
    text-decoration: underline;
  }

  .small-icons {
    width: 12px;
    margin-right: 5px;
    margin-top: -8px;
  }

  .home-del {
    display: flex;
    margin-top: -20px;
    margin-bottom: -30px;
  }

  .cooking {
    margin-bottom: 1px;
  }
