  ul {
      padding: 0;
      list-style: none;
      margin: 0;
  }

  .flex-nav {
    display: flex;
    background: transparent;
    border-bottom: 0;
    padding: 0 15px 4px;
    border-bottom: 1px solid #e2e2e2;
  }

  .nyt-title {
      margin-left: auto;
      margin-right: auto;
  }

  li {
      margin-left: 20px;
      font-size: 14px;
  }

  .title-img {
      margin: 0;
      width: 200px;
      height: 26px;
  }

  button {
    color: white;
    background-color: #6288a5;
    border: 1px solid #326891;
    border-radius: 3px;
    font-weight: 700;
    padding: 8px 12px 8px;
    font-size: 11px;
    margin-left: -20px;
    margin-right: 10px;
    cursor: pointer;
  }

  strong {
      display: block;
      line-height: 19px;
      padding-top: 4px; 
  }

  i {
      padding-top: 5px;
  }

  .top-ad {
    display: block;
    border-bottom: 1px solid #f3f3f3;
    background-color: #f7f7f7;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 90px;
    margin: 0;
    height: 281px;
  }

  .title {
      display: inline-block;
      width: 630px;
      padding: 0;
      margin-top: 50px;
      margin-left: 27%;
      font-size: 2.25rem;
      line-height: 2.5rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: 700;
      font-style: italic;
  }

  .heading {
    display: inline-block;
    width: 630px;
    margin-left: 28%;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 20px;
  }

  .article-title {
      width: 1200px;
      height: 675px;
  }

  .image-discription {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    color: #666;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  .article {
      padding-left: 8%;
      padding-right: 8%;
  }

  .article-content {
      margin-left: 20%;
      margin-right: 20%;
  }

  .author {
    font-size: 0.9375rem;
    line-height: 1.3125rem;
    font-weight: 700;
    color: #121212;
    font-family: helvetica,arial,sans-serif;
  }

  .date {
    font-family: helvetica,arial,sans-serif;
    font-weight: 500;
    color: #666;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .social-date {
    display: flex;
    justify-content: space-between;
  }

  .social-icons {
    display: flex;
    margin-right: 16px;
    padding: 10px 0; 
  }

  .facebook {
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding-top: 7px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .twitter {
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 8px;
  }

  .mail {
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .share {
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: -20%;
    margin-right: 14px;
    margin-left: 4px;
  }

  .save-page {
      background-color: #fff;
      border: #fff;
      margin-top: -35%;
  }

  .comments {
      background-color: #fff;
      color: #333;
      margin-top: -10%;
  }
